@font-face {
  font-family: "Adigiana-extreme";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/Adigiana-extreme.woff2") format("woff2"),
    url("../fonts/Adigiana-extreme.woff") format("woff");
}
