.contacts {
  padding: 60px 0 0;

  @media (min-width: $tablet-width) {
    padding: 100px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 130px;
    display: grid;
    grid-template-columns: 1fr 413px 557px 1fr;
    grid-template-rows: 70px 541px 70px;
  }
}

.contacts__wrapper-info {
  padding: 55px 15px;
  border-radius: $radius-12;
  background: var(--blue);
  box-shadow: $shadow;

  @media (min-width: $tablet-width) {
    padding: 80px 45px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 275px 1fr 353px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 65px 60px 70px;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    z-index: 500;
    border-radius: 12px;
  }
}

.contacts__title {
  margin: 0 0 20px;
  font-weight: 500;
  font-size: 22px;
  line-height: 125%;
  font-family: $font-rubik;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    font-size: 36px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
  }
}

.contacts__block {
  @media (min-width: $tablet-width) {
    &--address {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    &--time {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }

    &--phone {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }

    &--mail {
      grid-column: 3 / 4;
      grid-row: 3 / 4;
    }

    &--social {
      grid-column: 1 / 2;
      grid-row: 5 /6;
    }
  }
}

.contacts__title-block {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 145%;
  font-family: $font-montserrat;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.contacts__text {
  margin: 5px 0 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  font-family: $font-montserrat;
  color: var(--special-black);

  @media (min-width: $tablet-width) {
    margin: 8px 0 23px;
    font-size: 18px;
  }
}

.contacts__wrapper-social {
  width: 100%;
  margin-top: 9px;
  display: flex;
  flex-wrap: wrap;

  li {
    margin-left: 15px;

    &:first-child {
      margin-left: 0;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 13px;
  }
}

.contacts__social {
  display: block;
  width: 24px;
  height: 24px;
  background-size: cover;

  &--facebook {
    background: url("../img/stack.svg#facebook") 50% 50% no-repeat;
  }

  &--vk {
    background: url("../img/stack.svg#vk") 50% 50% no-repeat;
  }

  &--instagram {
    background: url("../img/stack.svg#instagram") 50% 50% no-repeat;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__map {
  position: relative;
  height: 261px;
  background: var(--blue);

  @media (min-width: $tablet-width) {
    height: 438px;
  }

  @media (min-width: $desktop-width) {
    height: 611px;
    grid-column: 1 / -1;
    grid-row: 2 / -1;
  }
}
