.teachers {
  max-width: 970px;
  margin: 0 auto;
  padding: 55px 15px 47px;

  @media (min-width: $tablet-width) {
    padding: 113px 45px 110px;
  }

  @media (min-width: $desktop-width) {
    padding: 126px 0 130px;
  }
}

.teachers__top-wrapper {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    width: 30px;
    height: 48px;
    top: -55px;
    right: 0;
    background: url('../img/house-mobile.png') 50% 50% no-repeat;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      display: block;
      width: 58px;
      height: 97px;
      top: -5px;
      right: -100px;
      background: url('../img/house-desktop.png') 50% 50% no-repeat;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  &::before {
    @media (min-width: $desktop-width) {
      position: absolute;
      content: '';
      width: 44px;
      height: 132px;
      bottom: -394px;
      left: -146px;
      background: url('../img/pencil.png') 50% 50% no-repeat;
    }
  }
}

.teachers__title {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 115%;
  font-family: $font-rubik;

  @media (min-width: $tablet-width) {
    width: 277px;
    font-size: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 384px;
  }
}

.teachers__text {
  margin: 21px 0 35px;
  padding-right: 23px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 145%;
  font-family: $font-montserrat;

  @media (min-width: $tablet-width) {
    width: 267px;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 350px;
    font-size: 16px;
  }
}

.teachers__slider {
  width: 290px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 678px;
    margin-top: 47px;
  }

  @media (min-width: $desktop-width) {
    width: 970px;
    margin-top: 53px;
  }
}

.teachers__img {
  width: 290px;
  height: 232px;

  @media (min-width: $tablet-width) {
    width: 206px;
    height: 205px;
  }

  @media (min-width: $desktop-width) {
    width: 220px;
    height: 219px;
  }
}

.teachers__item-name {
  margin: 12px 0 -2px;
  text-align: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  font-family: $font-montserrat;

  @media (min-width: $tablet-width) {
    margin: 15px 0 1px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.teachers__item-country {
  margin: 0;
  margin-left: -10px;
  text-align: center;
  color: var(--grey);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 145%;
  font-family: $font-montserrat;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
  }
}

.owl-nav {
  position: relative;
  width: 100%;
  top: -37px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    position: static;
    width: 45px;
    margin: 34px auto 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 45px;
  }
}

.owl-prev,
.owl-next {
  &::before {
    width: 15px;
    height: 8px;
    content: '';
    display: block;
    border: none;
    background: url('../img/stack.svg#arrow') 50% 50% no-repeat;
    background-size: cover;
  }
}

.owl-next {
  transform: rotate(180deg);
}