.teachers {
  max-width: 970px;
  margin: 0 auto;
  padding: 60px 15px;

  @media (min-width: $tablet-width) {
    padding: 110px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 130px 0;
  }
}

.teachers__top-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.teachers__title {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 115%;
  font-family: $font-rubik;

  @media (min-width: $tablet-width) {
    width: 277px;
    font-size: 36px;
  }

  @media (min-width: $desktop-width) {
    width: 384px;
  }
}

.teachers__text {
  margin: 30px 0 40px;
  padding-right: 23px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 145%;
  font-family: $font-montserrat;

  @media (min-width: $tablet-width) {
    width: 267px;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    width: 350px;
    font-size: 16px;
  }
}

.teachers__slider {
  width: 290px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 678px;
    margin-top: 54px;
  }

  @media (min-width: $desktop-width) {
    width: 970px;
  }
}

.teachers__img {
  width: 290px;
  height: 232px;

  @media (min-width: $tablet-width) {
    width: 206px;
    height: 205px;
  }

  @media (min-width: $desktop-width) {
    width: 220px;
    height: 219px;
  }
}

.teachers__item-name {
  margin: 15px 0 10px;
  text-align: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  font-family: $font-montserrat;
}

.teachers__item-country {
  margin: 0;
  text-align: center;
  color: var(--grey);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 145%;
  font-family: $font-montserrat;
}

.owl-nav {
  position: relative;
  width: 100%;
  top: -50px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    position: static;
    width: 44px;
    margin: 40px auto 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 50px;
  }
}

.owl-prev,
.owl-next {
  &::before {
    width: 15px;
    height: 8px;
    content: '';
    display: block;
    border: none;
    background: url('../img/stack.svg#arrow') 50% 50% no-repeat;
    background-size: cover;
  }
}

.owl-next {
  transform: rotate(180deg);
}