$tablet-width: 768px;
$desktop-width: 1366px;

$font-montserrat: 'Montserrat', "Arial", sans-serif;
$font-rubik: 'Rubik', "Arial", sans-serif;

:root {
  --white: #ffffff;
  --gray: #677085;
  --blue: #f7fafc;
  --mild-blue: #f7fafC;
  --gray-30: rgba(217, 217, 217, 0.3);
  --special-white: #fefcfa;
  --special-yellow: #ffd787;
  --special-blue: #8dd9e5;
  --special-black: #122659;
  --special-pink: #feb9cc;
  --background-modal: #fefcfa;
}

$border-blue: 3px solid var(--special-blue);
$border-yellow: 3px solid var(--special-yellow);
$border-pink: 3px solid var(--special-pink);
$shadow: 0px 4px 40px var(--gray-30);
$radius-12: 12px 12px 0px 0px;