$tablet-width: 768px;
$desktop-width: 1366px;

$font-montserrat: 'Montserrat', "Arial", sans-serif;
$font-rubik: 'Rubik', "Arial", sans-serif;

:root {
  --white: #ffffff;
  --mild-blue:#f7fafC;
  --special-yellow: #ffd787;
  --special-blue: #8dd9e5;
  --special-black: #122659;
  --special-pink: #feb9cc;
}

$border-blue: 3px solid var(--special-blue);
$border-yellow: 3px solid var(--special-yellow);
$border-pink: 3px solid var(--special-pink);
